GetAggregatedRequestStatus-schemas/src/main/resources/schemas/TD_CLINICAL_PROCESS_ACTIVITY_REQUEST_1.0_RC3/core_components/clinicalprocess_activity_request_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns="urn:riv:clinicalprocess:activity:request:1" 
			xmlns:codes="urn:riv:clinicalprocess:activity:request:codes" 
			targetNamespace="urn:riv:clinicalprocess:activity:request:1" 
			elementFormDefault="qualified" 
			attributeFormDefault="unqualified" 
			version="1.0">
	<xs:import namespace="urn:riv:clinicalprocess:activity:request:codes" schemaLocation="codes.xsd"/>
	
	<!-- Remiss -->
	<xs:element name="request" type="RequestType"/>
	<!-- Remissvar -->
	<xs:element name="requestOutcome" type="RequestOutcomeType"/>
	<!-- Remissbekräftelse -->
	<xs:element name="requestConfirmation" type="RequestConfirmationType"/>
	<!-- Remisstatus -->
	<xs:element name="requestStatus" type="RequestStatusType"/>
	<xs:element name="personId" type="PersonIdType"/>
	<xs:element name="requestId" type="RequestIdType"/>
	
	<xs:complexType name="RequestType">
		<xs:sequence>
			<!--remiss-id-->
			<xs:element name="requestId" type="RequestIdType"/>
			<!--remisstyp-->
			<xs:element name="typeOfRequest" type="codes:codeForRequestType"/>
			<!--versionstidpunkt-->
			<xs:element name="versionTimeStamp" type="TimeStampType"/>
			<!--versions-id-->
			<xs:element name="versionNumber" type="VersionNumberType"/>
			<!--versionorsak + versionsorsak text-->
			<xs:element name="reasonForVersion" type="ReasonForVersionType"/>
			<!--berör Patient-->
			<xs:element name="patient" type="PatientType"/>
			<!--ursprunglig remitterande organisatorisk enhet-->
			<xs:element name="requestOrganisation" type="FullOrganisationType"/>
			<!--har remitterande HoS-personal/Organisatorisk enhet-->
			<xs:element name="author" type="RequestAuthorType"/>
			<!--har remissmottagande Organisatorisk enhet-->
			<xs:element name="recipient" type="RecipientType"/>
			<!--har vidareskickande-->
			<xs:element name="intermediaryParticipant" type="IntermediaryType" minOccurs="0" maxOccurs="unbounded"/>
			<!--kompletterande administrativ information-->
			<xs:element name="additionalInformation" type="AdditionalInformationType"/>
			<!--Varningsinformation-->
			<xs:element name="awarenessInformation" type="AwarenessInformationType" minOccurs="0"/>
			<!--innehåller Frågeställning-->
			<xs:element name="questionFormulation" type="QuestionFormulationType"/>
			<!--erfordrar Betalningsförbindelse-->
			<xs:element name="paymentCommitment" type="PaymentCommitmentType" minOccurs="0"/>
			<!--bilaga-->
			<xs:element name="attachment" type="AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- id för individanpassad vårdprocess -->
			<xs:element name="careProcessId" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestConfirmationType">
		<xs:sequence>
			<!--besvarar remiss.remiss-id-->
			<xs:element name="requestId" type="RequestIdType"/>
			<!--svars-id-->
			<xs:element name="requestConfirmationId" type="RequestIdType"/>
			<!--svarsmeddelandetyp-->
			<xs:element name="typeOfRequestConfirmation" type="codes:codeRequestConfirmationType"/>
			<!--eRemiss.versions-id-->
			<xs:element name="requestVersionNumber" type="VersionNumberType"/>
			<xs:element name="requestConfirmationTime" type="TimeStampType"/>
			<xs:element name="patient" type="SimplePatientType"/>
			<!--besvarande organisatorisk enhet-->
			<xs:element name="confirmingOrganisation" type="FullOrganisationType"/>
			<xs:element name="author" type="AuthorType"/>
			<xs:element name="recipient" type="RecipientType"/>
			<xs:element name="forwardingRecipient" type="RecipientType" minOccurs="0"/>
			<xs:element name="outcome" type="RequestReceivedConfirmationOutcomeType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestOutcomeType">
		<xs:sequence>
			<!--besvarar eRemiss.eRemiss-id-->
			<xs:element name="requestId" type="RequestIdType"/>
			<!--svars-id-->
			<xs:element name="requestOutcomeId" type="RequestIdType"/>
			<!--svarsmeddelandetyp-->
			<xs:element name="typeOfRequestOutcome" type="codes:codeRequestOutcomeType"/>
			<!--eRemiss.versions-id-->
			<xs:element name="requestVersionNumber" type="VersionNumberType"/>
			<xs:element name="requestOutcomeTime" type="TimeStampType"/>
			<xs:element name="patient" type="SimplePatientType"/>
			<!--besvarande organisatorisk enhet-->
			<xs:element name="respondingOrganisation" type="FullOrganisationType"/>
			<xs:element name="author" type="AuthorType"/>
			<xs:element name="recipient" type="RecipientType"/>
			<xs:element name="outcome" type="OutcomeType"/>
			<!--bilaga-->
			<xs:element name="attachment" type="AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestStatusType">
		<xs:sequence>
			<!--RemissStatus-id-->
			<xs:element name="requestStatusId" type="RequestStatusIdType" minOccurs="0"/>
			<!--RemissStatus-->
			<xs:element name="requestStatus" type="CVType"/>
			<!--RemissStatustid-->
			<xs:element name="statusTime" type="TimeStampType"/>
			<!--RemissStatussättare-->
			<xs:element name="statusSetter" type="SimpleAuthorType"/>
			<!--eRemiss.id-->
			<xs:element name="requestId" type="RequestIdType"/>
			<!--eRemiss.versions-id-->
			<xs:element name="requestVersionNumber" type="VersionNumberType"/>
			<!--eRemisstyp-->
			<xs:element name="typeOfRequest" type="CVType"/>
			<!--eRemissmedium-->
			<xs:element name="requestMedium" type="CVType"/>
			<!--organisatorisk enhet-->
			<xs:element name="requestOrganisation" type="RequestStatusOrganisationType"/>
			<!--eRemiss.har remitterande HoS-personal-->
			<xs:element name="requestAuthor" type="SimpleAuthorType"/>
			<!--eRemiss.berör Patient-->
			<xs:element name="patient" type="SimplePatientType"/>
			<!--eRemiss.har remissmottagande Organisatorisk enhet-->
			<xs:element name="recipient" type="FullRecipientType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Type for requestId and requestOutcomId -->
	<xs:complexType name="RequestIdType">
		<xs:attribute name="extension" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="256"/>
					<xs:pattern value="(.*)#(.*)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TimeStampType">
		<xs:attribute name="value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])\d{4,6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TelecomType">
		<xs:sequence>
			<xs:element name="typeOfTelecom" type="codes:codeForTelecomType"/>
			<xs:element name="number" type="TelecomNumberType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReasonForVersionType">
		<xs:sequence>
			<xs:element name="typeOfReason" type="codes:codeVersionReason"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Patient type -->
	<xs:complexType name="PatientType">
		<xs:sequence>
			<xs:element name="personId" type="PersonIdType"/>
			<xs:element name="address" type="AddressType" minOccurs="0"/>
			<xs:element name="telecom" type="TelecomType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="name" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="216"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="gender" type="codes:codeForGenderType" minOccurs="0"/>
			<xs:element name="dateOfBirth" type="DateType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="SimplePatientType">
		<xs:sequence>
			<xs:element name="personId" type="PersonIdType"/>
			<xs:element name="name" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="216"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Version number only allows a number of 1 and higher. with leading 0
Examples: 1
    01
    0001
    2
    and so on
    -->
	<xs:simpleType name="VersionNumberType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(0*[1-9]+|[1-9])\d*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Telecom number format +123-12345678 -->
	<xs:simpleType name="TelecomNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Date format SSYYMMDD -->
	<xs:complexType name="DateType">
		<xs:attribute name="value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PersonIdType">
		<xs:attribute name="extension" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{8}[0-9pPtTfF][0-9]{3}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="root" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1.2.752.129.2.1.3.1">
						<xs:annotation>
							<xs:documentation>Personnummer</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="1.2.752.129.2.1.3.3">
						<xs:annotation>
							<xs:documentation>Nationellt samordningsnummer</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Type for carrying an address, modelled after Skatteverket Navet with addition of postBox -->
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="careOf" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="streetName1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="streetName2" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="postalCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="postalCity">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="27"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="postBox" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthorType">
		<xs:sequence>
			<xs:element name="healthcareProfessional" type="HealthcareProfessionalType" minOccurs="0"/>
			<xs:element name="typeOfHealthcareProfessional" type="codes:codeForProfession" minOccurs="0"/>
			<!-- custodian + author.representedOrganisation-->
			<xs:element name="healthcareProfessionalOrganisation" type="OrganisationType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestAuthorType">
		<xs:sequence>
			<xs:element name="date" type="DateType"/>
			<xs:element name="healthcareProfessional" type="HealthcareProfessionalType" minOccurs="0"/>
			<xs:element name="typeOfHealthcareProfessional" type="codes:codeForProfession" minOccurs="0"/>
			<!-- custodian + author.representedOrganisation-->
			<xs:element name="healthcareProfessionalOrganisation" type="OrganisationType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleAuthorType">
		<xs:sequence>
			<xs:element name="healthcareProfessional" type="HealthcareProfessionalType" minOccurs="0"/>
			<xs:element name="healthcareProfessionalOrganisation" type="RequestStatusOrganisationType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntermediaryType">
		<xs:sequence>
			<!-- custodian -->
			<xs:element name="healthcareProfessionalOrganisation" type="OrganisationType"/>
			<xs:element name="time" type="TimeStampType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecipientType">
		<xs:sequence>
			<xs:element name="organisation" type="OrganisationType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FullRecipientType">
		<xs:sequence>
			<xs:element name="healthcareProfessionalOrganisation" type="RequestStatusOrganisationType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- healthcareProfessional id and healthcareProfessional name restrictions mirrors HSA -->
	<xs:complexType name="HealthcareProfessionalType">
		<xs:sequence>
			<xs:element name="id" type="HsaIdType" minOccurs="0"/>
			<xs:element name="name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HsaIdType">
		<xs:attribute name="extension" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OrganisationType">
		<xs:sequence>
			<xs:element name="careUnitId" type="HsaIdType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FullOrganisationType">
		<xs:annotation>
			<xs:documentation>
                Information om en organisationsenhet.
                Hämtad från http://rivta.googlecode.com
				Anpassad (mestadels språkligt) till NeR.
				
				Anges careUnitId bör inga andra fält anges.
				Anges inte careUnitId bör åtminstone careUnitName anges.
                
                careUnitId: 
                HSA-id för enhet
                careUnitName
                Namn på enhet
                careUnitTelephone: 
                Telefon till enhet
                careUnitEmail: 
                Epost till enhet
                careUnitAddress: 
                Postadress till enhet
                careUnitLocation: 
                Text som anger namnet på plats eller ort för enhetens eller funktionens fysiska placering
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="careUnitId" type="HsaIdType"/>
			<xs:element name="careUnitName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="careUnitTelephone" type="xs:string" minOccurs="0"/>
			<xs:element name="careUnitEmail" type="xs:string" minOccurs="0"/>
			<xs:element name="careUnitAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="careUnitLocation" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestStatusOrganisationType">
		<xs:annotation>
			<xs:documentation>
                Information om en organisationsenhet.
                Hämtad från http://rivta.googlecode.com
				Anpassad (mestadels språkligt) till NeR.
				
				Anges careUnitId bör inga andra fält anges.
				Anges inte careUnitId bör åtminstone careUnitName anges.
                
                careUnitId: 
                HSA-id för enhet
                careUnitName
                Namn på enhet
                careUnitTelephone: 
                Telefon till enhet
                careUnitEmail: 
                Epost till enhet
                careUnitAddress: 
                Postadress till enhet
                careUnitLocation: 
                Text som anger namnet på plats eller ort för enhetens eller funktionens fysiska placering
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="careUnitId" type="HsaIdType" minOccurs="0"/>
			<xs:element name="careUnitName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="careUnitTelephone" type="xs:string" minOccurs="0"/>
			<xs:element name="careUnitEmail" type="xs:string" minOccurs="0"/>
			<xs:element name="careUnitAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="careUnitLocation" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalInformationType">
		<xs:sequence>
			<xs:element name="desiredRequestRecipient" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="administrativeInformation" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8192"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="interpreterRequirement" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AwarenessInformationType">
		<xs:sequence>
			<xs:element name="text">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8192"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Question Formulation -->
	<xs:complexType name="QuestionFormulationType">
		<xs:sequence>
			<xs:element name="text">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8192"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Anamnes 0..1 -->
			<xs:element name="clinicalInformation" type="ClinicalInformationType" minOccurs="0"/>
			<!-- Condition 0..* -->
			<xs:element name="condition" type="ConditionType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Desired activities 0..* -->
			<xs:element name="desiredActivity" type="ActivityType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClinicalInformationType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="text">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8192"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Condition Types -->
	<xs:complexType name="ConditionType">
		<xs:sequence>
			<xs:element name="id" type="ConditionIdType" minOccurs="0"/>
			<xs:element name="text" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8192"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="code" type="codes:codeForCondition" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConditionIdType">
		<xs:attribute name="extension" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(.*)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Activity types -->
	<xs:complexType name="ActivityType">
		<xs:sequence>
			<xs:element name="id" type="ActivityIdType" minOccurs="0"/>
			<xs:element name="text" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8192"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="code" type="ActivityCodeType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActivityIdType">
		<xs:attribute name="extension" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(.*)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- -->
	<xs:complexType name="ActivityCodeType">
		<xs:attribute name="code" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(.*)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="codeSystem" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1.2.752.116.1.3.2.1.4"/>
					<xs:enumeration value="1.2.752.116.2.1.1"/>
					<!--KVÅ-->
					<!--Snomed CT-->
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- Answer section of a request response -->
	<xs:complexType name="OutcomeType">
		<xs:sequence>
			<xs:element name="outcomeText">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8192"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="condition" type="ConditionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="accomplishedActivity" type="ActivityType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestReceivedConfirmationOutcomeType">
		<xs:sequence>
			<xs:element name="outcomeText">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8192"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Date type -->
	<xs:complexType name="TimeIntervalType">
		<xs:attribute name="low">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="high">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TimePeriodType">
        <xs:annotation>
            <xs:documentation>
                Används för att specificera ett datumintervall
                med hjälp av start- och slutdatum.
                
                start: 
                Startdatum på formatet YYYYMMDDhhmmss
                end: 
                Slutdatum på formatet YYYYMMDDhhmmss
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="start" type="TimeStampType"/>
            <xs:element name="end" type="TimeStampType" minOccurs="0"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="PaymentCommitmentType">
		<xs:sequence>
			<xs:element name="paymentCommitmentId" type="PaymentCommitmentIdType" minOccurs="0"/>
			<xs:element name="commitmentType" type="codes:codeForCommitmentType"/>
			<xs:element name="commitmentTypeChapter" type="codes:codeForCommitmentTypeChapter" minOccurs="0"/>
			<xs:element name="validity" type="TimeIntervalType"/>
			<xs:element name="clinicalResponsibilityDescription" type="ResponsibilityDescriptionType" minOccurs="0"/>
			<xs:element name="administrativeResponsibilityDescription" type="ResponsibilityDescriptionType" minOccurs="0"/>
			<xs:element name="validOnlyForOutpatientCare" type="xs:boolean"/>
			<xs:element name="liableCountyCouncil" type="codes:codeForCountyCouncil"/>
			<xs:element name="dateOfApproval" type="TimeStampType" minOccurs="0"/>
			<xs:element name="issuedInConsultationWith" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="costCenter" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="reimbursementInformation" type="ReimbursementInformationType" minOccurs="0"/>
			<xs:element name="approvedBy" type="HealthcareProfessionalType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CVType">
		<xs:annotation>
			<xs:documentation>
				Hämtad från http://rivta.googlecode.com
				
				Typ som beskriver kodade värden med en struktur hämtad från HL7 v3 CV (”CodedValue”).
				För implementering av attribut av slaget ”KTOV” i RIV. Kodade värden avser officiellt hanterade
				kodverk som hänvisas till med CodeSystem OID/UUID.
				
				För annan användning av koder, exempelvis för lokala kodverk utan OID, skall originalText-attributet
				användas för att ge kodens text i det lokala systemet, och övriga attribut lämnas tomma. 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="0"/>
			<xs:element name="codeSystem" type="xs:string" minOccurs="0"/>
			<xs:element name="codeSystemName" type="xs:string" minOccurs="0"/>
			<xs:element name="codeSystemVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="displayName" type="xs:string" minOccurs="0"/>
			<xs:element name="originalText" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReimbursementInformationType">
		<xs:sequence>
			<xs:element name="reimbursementType" type="codes:codeForReimbursementType"/>
			<xs:element name="ownerOfInvokedContract" type="codes:codeForCountyCouncil"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentCommitmentIdType">
		<xs:attribute name="extension" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(.*)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ResponsibilityDescriptionType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8192"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RequestStatusIdType">
		<xs:attribute name="extension" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(.*)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AttachmentType">
		<xs:sequence>
			<xs:element name="urn" type="URNType"/>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="mimetype" type="xs:string"/>
			<xs:element name="size" type="xs:long"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InstructionType">
		<xs:sequence>
			<xs:element name="sourceOfInformation" type="xs:string"/>
			<xs:element name="url" type="xs:string"/>
			<xs:element name="text" type="xs:string"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="URNType">
		<xs:annotation>
			<xs:documentation>
				Regular expression to validate RFC 2141 URN syntax.
				"urn:[a-zA-Z0-9][a-zA-Z0-9-]{1,31}:([a-zA-Z0-9()+,.:=@;$_!*'-]|%[0-9A-Fa-f]{2})+"
      		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="urn:[a-zA-Z0-9][a-zA-Z0-9-]{1,31}:([a-zA-Z0-9()+,.:=@;$_!*'-]|%[0-9A-Fa-f]{2})+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResultCodeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK"/>
			<xs:enumeration value="ERROR"/>
			<xs:enumeration value="INFO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ErrorCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VALIDATION_ERROR"/>
            <xs:enumeration value="APPLICATION_ERROR"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:complexType name="ResultType">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="resultCode" type="ResultCodeEnum"/>
            <xs:element name="errorCode" type="ErrorCodeEnum" minOccurs="0"/>
            <xs:element name="logId" type="xs:string" minOccurs="0"/>
            <xs:element name="subCode" type="xs:string" minOccurs="0"/>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
